/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* heading part start herer */
/* Font-family */
/* font-family: 'Oswald', sans-serif;
font-family: 'Playfair', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Shrikhand', cursive; */
/* Font-family */

/* Heading section START here */
.heading-section{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0%;
}
.crp-logo{
    text-align: left;
    padding: 10px 20px;
}
.heading-menu{
    top: 0;
    left: 500px;
    text-align: right;
    padding: 10px;
}
.heading-menu a{
    display: inline-block;
    text-transform: uppercase;

    position: relative;
}
.heading-menu a::before{
    content: '';
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    height: 3px;
    width: 0%;
    background-color: white;

    animation-timing-function: linear;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.heading-menu a:hover::before{
    animation-name: heading-menu;
}
@keyframes heading-menu{
    to{
        width: 100%;
    }
}
/* Heading section START here */

/* Banner section START here */
#banner-section{
    background-color: gray;
}
.banner h1{
    color: red;
}
/* Banner section START here */
.banner{
    margin-top: 200px;
}
/* Banner section END here */

/* Content section START here */
.crp-video{
    margin: 50px;
    height: 500px;
    width: 100%;
}
/* Content section END here */

/* Contact section START here */
.map{
    width: 600px;
    height: 360px;
    margin: 70px 70px 33px 70px;
    padding: 20px;
}
/* Contact section END here */